.concert {
    padding: 5px;
    width: 650px;
    max-width: 800px;
    background-color: #FFFFFF;
    margin-bottom: 10px;
    box-sizing: border-box;
    display: flex;
    align-items: flex-start;
    gap: 16px;
    border: 4px solid #EEE;
    border-radius: 15px;

    box-shadow: 0px 4px 4px 0px rgba(0, 0, 0, 0.25);
}

.concert .concert-payload {
    display: flex;
    align-items: flex-start;
    text-align: center;
    gap: 10px;
    max-height: 300px;
    padding: 16px 0px;

}

.concert .concert-name {
    width: 200px;
    padding-left: 5px;
}

.concert .date-time {
    width: 100px;
    padding-left: 5px;
}

.concert .price {
    width: 50px;
    padding-left: 5px;
}

.concert .concert-type {
    width: 120px;
    padding-left: 5px;
}

.info {
    display: flex;
    padding-bottom: 0px;
    flex-direction: column;
    align-items: flex-start;
}

.concert .buttons {
    display: flex;
    flex-direction: column;
    gap: 10px;
    text-align: center;
}

.title {
    font-size: 26px;
    text-align: center;
}

.select-type {
    cursor: pointer;
}


.concert-list-page {
    display: flex;
}

.concert-list-left-column {
    flex: 70%;
    padding: 10px;
}

.concert-list-right-column {
    padding: 10px;
    width: 400px;
}

.concert-list {
    display: flex;
    margin-left: auto;
    margin-right: auto;
    flex-direction: column;
    align-items: flex-start;
}

.concert-search {
    display: flex;
    flex-direction: column;
    margin: 10px;
    gap: 5px;
    text-align: center;
    background-color: aqua;
    border-radius: 9px;
    box-sizing: border-box;
    padding: 16px 50px;
    width: 320px;
    height: 150px;
    background-color: #FFFFFF;
}
