body {
    background-color: ghostwhite;
    margin: auto;
    font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen', 'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue', sans-serif;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
}

.container {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    max-width: 600px;
    margin: 40px auto;
    background-color: white;
    width: 800px;
    padding: 25px 40px 10px 40px;
    box-shadow: 0px 0px 10px rgba(0,0,0,0.1);
}

.container .title {
    text-align: center;
    font-size: 41px;
    margin: auto;
}

.container form {
    padding-bottom: 80px;
}

.container form .form-row {
    display: flex;
    margin: 32px 0;
}

form .form-row .input-data {
    width: 100%;
    height: 40px;
    margin: 0 20px;
    position: relative;
}

.input-data input {
    display: block;
    width: 100%;
    height: 100%;
    border: none;
    font-size: 17px;
    border-bottom: 3px solid rgba(0,0,0, 0.25);
}

.input-data label {
    position: relative;
    font-size: 14px;
    color: #3498db;
    transition: all 0.3s ease;
}

.submit-button {
    position: relative;
}

.submit-button input {
    position: absolute;
    border-radius: 12px;
    padding: 12px 28px;
    top: 50%;
    left: 50%;
    transform: translate(-50%, 50%);
    font-size: 17px;
    background-color: #008cba;
}
